body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center; 
      align-items: center;     
      background-color: #f0f0f0;
    }

.onclick {
    cursor: pointer;
}

.container {
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hidden {
    
}